@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap%27');
h1,
h2,
h3 {
    font-family: 'Alfa Slab One', cursive;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
}

section {
    width: 100%;
    margin: 50px auto;
}

section div {
    color: #f1f1b0;
}

body {
    background-color: #FFBA49;
}

.hero-video {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: none;
}

video {
    margin: auto;
    position: relative;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
    visibility: visible;
    opacity: 1;
    width: auto;
    height: 1114px;
}

/* BIOGRAPHIE */


h2 {
    text-align: center;
    background-color: #FFBA49
}

.carousel-inner {
    border: 5px solid black;
    border-radius: 20px;
    background-color: #9D2503;
    color: #f1f1b0;
}

.carousel-control-next {
    right: -91px;
    left: auto;

}

.carouselExampleIndicators {
    color: #9D2503;
}

.carousel-control-prev {
    left: -91px;
    right: auto;
}

.carousel-indicators {
    bottom: -42px;
}

.carousel-inner,p {
    text-align: center;
}

.img1 {
    float: left; 
}

.img2 {
    float: right; 
}

.img3 {
    float: left; 
}

.buttonleft {
    color:#9D2503;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    
}

.buttonright {
    color:#9D2503;
    font-size: 40px;
    font-weight: bold;
    text-align: right;
    
}

.container-bio {
    display: flex;
    width: 100%;
    min-height: auto;
    background: #FFBA49;
}

.button-left, .button-right{
    width: 50px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.caroussel{
    width: calc(100% - 100px);
    background: red;
}


/* interline */

.interline {
    border: 3px solid black;
}